#problemname{
	font-size : x-large;
	text-align : center;
	font-weight : bold;
	display : block;
}
#contestname{
	font-size : large;
	font-weight : bold;
}
#inoutformat{
	font-size: medium;
	text-align: left;
	display: block;
}
#tags{
	text-align: left;
	display: block;
	padding-left:  10px;
	padding-right: 10px;
	font-size: medium;
}
#taglist{
	font-size: small;
}
#sort{
	font-size: small;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}

/*
.textheader{
	font-size: large;
	text-align: left;
	font-weight: bold;
	display: block;
	padding-top:   16px;
	padding-bottom: 8px;
}
#description{
	text-align: left;
	display: block;
	padding-top: 20px;
	font-size: medium;
}
#sample{
	text-align: left;
	display: block;
	font-size: medium;
	display: block;
}
#symbol{
	text-transform: uppercase;
	display: inline;
	font-weight: bold;
	font-style: italic;
}
*/
