#problemname{
	font-size: x-large;
	text-align: center;
	font-weight: bold;
	display: block;
}
#contestname{
	font-size: large;
	font-weight: bold;
}
.textheader{
	font-size: large;
	text-align: left;
	font-weight: bold;
	display: block;
	padding-top: 16px;
	padding-bottom: 8px;
}
.textmedium{
	font-size: medium;
	font-weight: bold;
	font-style: italic;
}
#tags{
	text-align: left;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: medium;
}
#taglist{
	font-size: small;
}
#sort{
	font-size: small;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
}
